*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --bl: #000000;
}
header{
  position: sticky;
  top: 0;
  z-index: 15;
}
.active{background-color: var(--bl);}
/***************background images*********************/
#cover {
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/newspaper-dreams.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}

.row{
  max-width: 1180px;
  margin: 0 auto;
}
#cover .main-content-header{
  width: 1180px;
  padding:0 2%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1180px){
  #cover .main-content-header{
    width:100%;
    padding:0 2%;
  }

  .row{
    width:100%;
    padding:0 2%;
  }
}
/*********************button image text********************/
/* 
@media only screen and (max-width: 480px){
  #cover .btn-full{
    margin-bottom: 20px;
  }

  #cover h1{font-size: 180%;}
}
#cover .btn{
  display: inline-block;
  padding: 10px 30px;
  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2;
  align-content: center;
}

#cover .btn-full{
  background-color: transparent;
  color: white;
  margin-right: 25px;
  border: 1px solid black;
  align-content: center;
}

#cover .btn-full:hover{
  background-color: #fff;
  color: black;
}

#cover .btn-nav{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

#cover .btn-nav:hover{
  background-color: black;
}

@media only screen and (max-width: 998px){
  #cover h1{font-size: 200%;}
}

@media only screen and (max-width: 480px){
  #cover .btn-full{
    margin-bottom: 20px;
  }

  #cover h1{font-size: 180%;}
}

#cover .colorchange{
  animation:  colorchangethapa 1s infinite;
}

@keyframes colorchangethapa{
  0%{color: black;}
  25%{color:#bf55ec; ;}
  50%{ color: white; }
  100%{ color:#bf55ec;  }
} */

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}
.column-80,
.column-20
{
  float: left;
  min-height: 1px;
  padding: 0px 10px;
  }

.column-20 {
  width: 20%;
}
.column-80 {
  width: 80%;}

/***************** navigation***********************/
#nav-bar{
  position:sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img {
  height: 75px;
  /* padding-left: 5px; */
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  background-color: #000 !important;
  color: #fff;
}
.navbar {
  background-color:#333;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #fff !important;
  font-weight: 600;
  font-size:16px;
}
#nav-bar p{
  color: var(--light);
}
/* slider */
#slider{
  width: 100%;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
  z-index: 2;
}
.carousel-caption h5{
  color: #fff;
  font-size: 42px;
  z-index: 2;
}
.carousel-caption p{
  color: #fff;
  font-size: 18px;
  z-index: 2;
}
/*  Breaking news*/
#breaking-news {
  top : 50%;
  padding: 5px;
  background-color: #333 ;
  color: #fff;
  font-family: "Arial";
  font-weight: bold;
  font-size: 12px;
}
.breakingnews .update-left a{
  padding: 9px 62px;
  text-align: center;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.breakingnews .update-right {
  padding: 5px;
}

/*------------ about ----------------*/
#about{
  padding-top: 30px;
  padding-bottom: 50px;
  color: #000;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
#about .btn{
  margin-top: 20px;
  margin-bottom: 30px;
}
#about .about-content{
  text-align: center;
}
.about-content{
  padding-top: 20px;
}
.skills-bar p{
  /* margin-bottom: 6px; */
  font-weight: normal;
}
#images-slider{
  width: 300px;
}
.carousel-captions{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
  text-align: center;
}
.carousel-captions h5{
  color: #000;
  font-size: 42px;
}
/* .card .text-white{
  padding-left: 50px; 
  margin-left: 50px;
}
.card .mb-3{
  padding-left: 50px; 
  margin-left: 50px;
}
.card {
  background-position: right;
} */

/* Team */
#team {
  padding-bottom: 10px;
  color: #000;
  margin-left: 200px;
}
#team.card{
  justify-content: center;
  padding: 3px;
}
#team.card.container{
  max-width: 100%;
}
h1 {
  text-align: center;
  color: #000!important;
  padding-top: 7px;
  padding-bottom: 7px;
}
h1::after{
  content: ' ';
  background: #007bff!important;
  display: block;
  height: 3px;
  width:170px;
  margin: 20px auto 5px;
}
.profile-pic{
  margin-top: 25px;
}

.profile-pic .img-box{
  opacity: 1;
  display: block;
  position: relative;
}

.profile-pic .img-box img{
  filter: grayscale(1);
}

.profile-pic .img-box img:hover{
  filter: grayscale(0);
  cursor: pointer;
}
.profile-pic h2{
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #007bff!important;
}
.profile-pic h3{
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}
#team .fab{
  height: 25px;
  width: 25px;
  color: #007bff !important;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}

.img-box ul{
  padding: 15px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.img-box ul li{
  padding: 5px;
  display: inline-block;
}
.img-box:hover ul{
  opacity: 1;
}

.img-box ul, .img-box ul li{
  transition: 0.5s;
}

/******************************************** contact */
#contact {
  background-color: #333;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}
#contact h1{
color: var(--light) !important;
}
.contact-form{
  padding: 15px;
}
.form-control{
  border-radius: 0 !important;
  border: none !important;

}
::placeholder{
  font-style: italic;
  color: #000 !important;
}
.follow{
  background: #000;
  padding: 10px;
  margin: 15px;
}
.contact-info .fas{
  margin: 10px;
  color: #fff;
  font-weight: bold;
}
.contact-info .fab{
  margin: 10px;
  color: #fff;
  font-weight: bold;
}
/* footer */
#footer{
  background: #333;
  color: #fff;
  padding: 12px;
}
.far-nwespaper{
  margin: 3px;
  color: white;
}
.fas-copyright
{
  margin: 3px;
  color: #fff;
}
/************************************post**********************************/
/* Top Container */
/* .top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
} */

/* Showcase */
/* .showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
  z-index: -10;
} */

/* .showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
} */

/* .showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
} */
/*boxes*/
/* Top Box */
/* .top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
} */

/* Boxes */
/* .boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boxes .box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
} */

/*info*/
.info {
  background: #666;
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}
.card h2{
  text-align: center;
}
.card{
  box-shadow: var(--shadow);
  /*padding: 3rem;*/
  /*display: inline-block;*/
  transition: 0.3s;
  width: 40%;
  @include media-breakpoint-only(lg) {
      column-count: 4;
  }
  @include media-breakpoint-only(xl) {
      column-count: 5;
  }  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Float four columns side by side */
.card .column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.anchorjs-link.card .row {
  margin: 0 -5px;}

/* Clear floats after the columns */
.card .row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .card .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.list-group{
  justify-content: center;
  margin: 0%;
  font-family: sans-serif;
  font-weight: bolder;
  }
.list-group-item a{
  color: #000;
}
.list-group-item a:hover{
  color: #fff;
}