<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Enews</title>
  </head>
  <body>
<!-- navigation -->
<section id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="./images/newsworld.png" alt="newsworld" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TRENDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html">CONTACT</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CATEGORIES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">NATIONAL</a>
          <a class="dropdown-item" href="#">SPORTS</a>
          <a class="dropdown-item" href="#">EDUCATION</a>
          <a class="dropdown-item" href="#">POLITICS</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</section>
<!-- about -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <div class="about-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <!-- <button type="button" class="btn btn-primary">Read more</button> -->
      </div>
      <!-- about people images -->
      <div class="col-md-6 skills-bar">
        <div id="images-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#images-slider" data-slide-to="0" class="active"></li>
            <li data-target="#images-slider" data-slide-to="1"></li>
            <li data-target="#images-slider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="./images/webnews.png" alt="First slide">
              <div class="carousel-captions d-none d-md-block">
                <h5>Zain Nouman</h5>
                <p>Team Leader</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="./images/logo_html.png" alt="Second slide">
              <div class="carousel-captions d-none d-md-block">
                <h5>Maryam</h5>
                <p>Content writer</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="./images/logo_css.png" alt="Third slide">
              <div class="carousel-captions d-none d-md-block">
                <h5>Ramzan Raza</h5>
                <p>Coder</p>
              </div>

            </div>
          </div>
          <a class="carousel-control-prev" href="#images-slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#images-slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team member -->
<section id="team">
  <div class="container">
    <h1>Our Team</h1>
    <div class="row">
      <div class="col-md-3 profile-pic text-center">
        <div class="img-box">
          <img src="./images/app-browser-coffee.jpg" class="img-responsive"alt="image" width="300" height="200">
          <ul><a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-twitter"></i></li></a>
            <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
        </div>
        <h2>Ramzan Raza</h2>
        <h3>Coder</h3>
        <p><blockquote>
          Quit people have loudest minds
        </blockquote></p>
      </div>
    </div>
  </div>
</section>
<!-- script -->
<script src="./js/smoothscroll.js"></script>
<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
</body>
</html>
