<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="description" content=" Pakistan news portal">
      <meta name="keywords" content="news, trending news, Pakistan news, ARY news, dunya news, dawn news, newspaper,">
      {% load static %}
       {% if title %}
       <title>{{ title }}</title>
       {% else %}
       <title>HOME</title>
       {% endif %}

      <!-- stylesheet -->
      <link rel="stylesheet" href= " {% static "./css/main.css" %}">
      <!-- <link rel="stylesheet" href="./css/main.css"> -->

      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

      <!-- font-awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

      <!-- jquery -->
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

      <!-- greensock -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
</head>

<body>
      {% load static %}
      {% block content %} {% endblock %} 
      <div class="overlay">
            <h1>ADVANCE BULLETIN</h1>
      </div>

      <div class="wrapper">
            <div class="logo"><a href="{% url 'Newsblogs:index' %}"><img src="{% static "./images/Image.png" %}"></a></div>
            <div class="social-media">
                  <ul>
                        <li><i class="fab fa-facebook-f" aria-hidden="true"></i></li>
                        <li><i class="fab fa-instagram" aria-hidden="true"></i></li>
                        <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
                  </ul>
            </div>
            <div class="side-strip">
                  <span>GET ACCURATE NEWS IN <br>SHORT TIME</span>
            </div>
            <div class="header">
                  <h1>ADVANCE<br>BULLETIN</h1>
                  <p>
                        <blockquote class="blockquote">
                              <p class="mb-0">More information is always better than less. When people know the reason
                                    things are happening, even if it's bad news, they can adjust their expectations and
                                    react accordingly. Keeping people in the dark only serves to stir negative emotions.
                              </p>
                              <footer class="blockquote-footer">Simon Sinek <a
                                          href="https://www.brainyquote.com/quotes/simon_sinek_568162?src=t_news"><cite
                                                title="Source Title">brainyquote</cite></a></footer>
                        </blockquote></p>
                  <a href="{% url 'Newsblogs:Home' %}" class="btn btn-outline-secondary" role="button"><span class="changecolor">GET STARTED</span></a>
            </div>

             <div class="bottom-bar">
                  <div class="container">
                        <div class="row">
                              <div class="col-lg-4">
                                    <h6>The Advance-Bulletin Team</h6>
                                    <p><strong><br>Zain Noman Farooq<em>(Team Leader, Designer, Front and Backend
                                                      Developer)</em>Maryam Badar<em>(Writer, Designs, Code)</em><br>Ramzan Raza
                                                Sheikh<em>(Web Designer, DB admin)</em></strong></p>
                              </div>
                              <div class="col-lg-4">
                                    <h6>ADVANCE BULLETIN</h6>
                                    <p><strong>Gather content from the different channel<br>Summarize them into
                                                paragraph<br>apply the oppnion on the content</strong></p>
                              </div>
                              <div class="col-lg-4">
                                    <h6>Contact Through</h6>
                                    <p><i class="fas fa-envelope"></i><strong> Email: Advance-Bulletin@gmail.com</strong></p>
                              </div>
                        </div>
                        <!-- footer -->
                        <section id="footer">
                              <div class="container text-center">
                                    <p> Made by <i class="far fa-newspaper"></i> AdvanceBulletin.com
                                          <i class="fas fa-copyright"></i> copyrights reserved 2019 </p>
                              </div>
                        </section>
                  </div>
            </div>
      </div>

      <script type="text/javascript">
            TweenMax.to(".overlay h1", 2, {
                  opacity: 0,
                  y: -60,
                  ease: Expo.easeInOut
            })

            TweenMax.to(".overlay", 2, {
                  delay: 1,
                  top: "-100%",
                  ease: Expo.easeInOut
            })

            TweenMax.from(".logo", 1, {
                  delay: 2.4,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            })

            TweenMax.staggerFrom(".nav ul li", 1, {
                  delay: 2.4,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            }, 0.2)

            TweenMax.staggerFrom(".social-media ul li", 1, {
                  delay: 2.4,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            }, 0.2)

            TweenMax.from(".side-strip", 2, {
                  delay: 2.4,
                  opacity: 0,
                  y: 40,
                  ease: Expo.easeInOut
            })

            TweenMax.from(".row", 2, {
                  delay: 2.4,
                  opacity: 0,
                  x: 40,
                  ease: Expo.easeInOut
            })

            TweenMax.from(".row h6", 2, {
                  delay: 3,
                  opacity: 0,
                  y: 40,
                  ease: Expo.easeInOut
            })

            TweenMax.from(".row p", 2, {
                  delay: 3.2,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            })

            TweenMax.from(".header h1", 2, {
                  delay: 3.2,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            })

            TweenMax.from(".header p", 2, {
                  delay: 3.4,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            })

            TweenMax.from(".header a", 2, {
                  delay: 3.6,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            })
             TweenMax.from(".header blockquote", 2, {
                  delay: 3.6,
                  opacity: 0,
                  y: 20,
                  ease: Expo.easeInOut
            })
            TweenMax.from(" #footer div", 2, {
                  delay:3.6,
                  opacity:0,
                  y: 20,
                  ease: Expo.easeInOut
            })
      </script>
</body>

</html>