{% extends "base.html"%}
<body>
{% load static %}

{% block content %}
 {% if h1 %}
 <h1 id="wrapper">{{h1}} News</h1>
 {% endif %}
 <div class="list">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item list-group-item-dark">
      <a href="#PAKISTAN">Pakistan</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#INTERNATIONAL">International</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#BUSINESS">Business</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#SCI&TECH">SCI & TECH</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#LIFESTYLE">LifeStyle</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#HEALTH">Health</a></li>
  </ul>
</div>


    <section>
<div class="container">
      <div class="anchorjs-link " id="PAKISTAN">
        {{ categ | safe }}
    </div>
<div class="row">


          {{ html | safe }}



</div></div>


</section>

     <section>
<div class="container">
      <div class="anchorjs-link " id="INTERNATIONAL">
        {{ categ1 | safe }}
    </div>
<div class="row">


          {{ html1 | safe }}



</div></div>
</section>


         <section>
<div class="container">
      <div class="anchorjs-link " id="BUSINESS">
        {{ categ2 | safe }}
    </div>
<div class="row">


          {{ html2 | safe }}



</div></div>
</section>

           <section>
<div class="container">
      <div class="anchorjs-link " id="SCI&TECH">
        {{ categ3 | safe }}
    </div>
<div class="row">


          {{ html3 | safe }}



</div></div>
</section>

               <section>
<div class="container">
      <div class="anchorjs-link " id="LIFESTYLE">
        {{ categ4 | safe }}
    </div>
<div class="row">


          {{ html4 | safe }}



</div></div>
</section>

               <section>
<div class="container">
      <div class="anchorjs-link " id="HEALTH">
        {{ categ5 | safe }}
    </div>
<div class="row">


          {{ html5 | safe }}



</div></div>
</section>

{% endblock content %}
</body>


