{% extends "base.html"%}
<body>
{% load static %}

{% block content %}
 {% if h1 %}
 <h1 id="wrapper">{{h1}} News</h1>
 {% endif %}
 <div class="list">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item list-group-item-dark">
      <a href="#PAKISTAN">Pakistan</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#World">World</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#WORLD CUP 2019">WORLD CUP 2019</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#Sports">Sports</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#BUSINESS">Business</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#Entertainment">Entertainment</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#Tech">Technology</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#Special">Special</a></li>
    <li class="list-group-item list-group-item-dark">
      <a href="#Life">LifeStyle</a></li>
  </ul>
</div>


    <section>
<div class="container">
      <div class="anchorjs-link " id="PAKISTAN">
        {{ categ | safe }}
    </div>
<div class="row">


          {{ html | safe }}



</div></div>


</section>

     <section>
<div class="container">
      <div class="anchorjs-link " id="World">
        {{ categ1 | safe }}
    </div>
<div class="row">


          {{ html1 | safe }}



</div></div>
</section>


         <section>
<div class="container">
      <div class="anchorjs-link " id="WORLD CUP 2019">
        {{ categ2 | safe }}
    </div>
<div class="row">


          {{ html2 | safe }}



</div></div>
</section>

           <section>
<div class="container">
      <div class="anchorjs-link " id="Sports">
        {{ categ3 | safe }}
    </div>
<div class="row">


          {{ html3 | safe }}



</div></div>
</section>

               <section>
<div class="container">
      <div class="anchorjs-link " id="BUSINESS">
        {{ categ4 | safe }}
    </div>
<div class="row">


          {{ html4 | safe }}



</div></div>
</section>

               <section>
<div class="container">
      <div class="anchorjs-link " id="Entertainment">
        {{ categ5 | safe }}
    </div>
<div class="row">


          {{ html5 | safe }}


</div></div>
</section>

               <section>
<div class="container">
      <div class="anchorjs-link " id="Tech">
        {{ categ6 | safe }}
    </div>
<div class="row">


          {{ html6 | safe }}


</div></div>
</section>

               <section>
<div class="container">
      <div class="anchorjs-link " id="Special">
        {{ categ7 | safe }}
    </div>
<div class="row">


          {{ html7 | safe }}


</div></div>
</section>

               <section>
<div class="container">
      <div class="anchorjs-link " id="Life">
        {{ categ8 | safe }}
    </div>
<div class="row">


          {{ life | safe }}


</div></div>
</section>

{% endblock content %}
</body>


